body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1303px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:86px;
  width:1247px;
  height:57px;
}
#u72_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1247px;
  height:57px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1247px;
  height:57px;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:57px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:57px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:174px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:0px;
  width:112px;
  height:57px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:108px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:57px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:0px;
  width:244px;
  height:57px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:240px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:57px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:0px;
  width:178px;
  height:57px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:174px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:57px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:0px;
  width:178px;
  height:57px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:174px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:57px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:0px;
  width:178px;
  height:57px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:174px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:57px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:0px;
  width:179px;
  height:57px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:175px;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:230px;
  width:1247px;
  height:101px;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:308px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:0px;
  width:312px;
  height:30px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:308px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:0px;
  width:312px;
  height:30px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:308px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:30px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:0px;
  width:311px;
  height:30px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:307px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:312px;
  height:30px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:308px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:30px;
  width:312px;
  height:30px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:308px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:30px;
  width:312px;
  height:30px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:308px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:30px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:30px;
  width:311px;
  height:30px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:307px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:41px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:312px;
  height:41px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:41px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:60px;
  width:312px;
  height:41px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:41px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:60px;
  width:312px;
  height:41px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:41px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:60px;
  width:311px;
  height:41px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:169px;
  width:129px;
  height:35px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:169px;
  width:129px;
  height:35px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:516px;
  width:957px;
  height:868px;
  overflow:hidden;
  visibility:hidden;
}
#u96_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:868px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u96_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:784px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:16px;
  width:950px;
  height:784px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:1px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:799px;
  width:961px;
  height:1px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:869px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:0px;
  width:1px;
  height:869px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:799px;
  width:1px;
  height:1px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:72px;
  top:7px;
}
#u101_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
}
#u101_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:807px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:807px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
