body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1156px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:787px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:38px;
  width:962px;
  height:787px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
